[Unit]
Description=Collect apt metrics for prometheus-node-exporter

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/share/prometheus-node-exporter/apt.sh | sponge /var/lib/prometheus/node-exporter/apt.prom"
